<!doctype html>
<html>
<head>
<title>支付确认</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="description" content="">
<meta name="Keywords" content="">

<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">

<link href="/assets/css/style.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/iconfont.css">
<link href="/assets/css/confirm-pay.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link href="/assets/css/mui.min.css" type="text/css" rel="stylesheet">
</head>

<body>
<header>
    <nav style="position:relative">
        <h2>支付确认</h2>
       <a class="navl return" id="deffBack">
           <img src="/assets/images/return.png" id="goto-my-order">
        </a>
        <a href="/pages/user/index.html"><span class="icon iconfont icon-user-icon" style="position:absolute;right:13px;top:1px;font-size:21px"></span></a>
    </nav>
</header>
<section>
	<div class="confirm-pay">
	<ul>
    	<nav>
        	<h2>应付金额：<span id="totalMoney"></span></h2>
        </nav>
        <div class="pay-wecat">
            <nav id="payTitle" style="padding-left: 0">支付方式</nav>
            <div id="otherTitle" style="display:none;font-size: 1.5rem; padding: 10px 0;"></div>
            <div class="bot weixinPay" id="wxpay">
                <img class="fl" src="/assets/images/wechat-iconpay.png">
                <!-- <p class="fl">微信支付</p> -->
                <div style=" margin-top:30px;" id="pay1" payType="4" desc="微信支付" class="btn-sel1 fr check"><!--公共样式，点击选中状态-->
                    <div class="btn-sel1-ba">
                    </div>
                </div>
            </div>
            <div class="bot webPay" id="zfbpay" style="">
                <img class="fl" src="/assets/images/as.png">
                <!-- <p class="fl">支付宝支付</p> -->
                <div style=" margin-top:30px;" id="pay2" payType="10" desc="支付宝支付" class="btn-sel1 fr check">
                    <div class="btn-sel1-ba">
                    </div>
                </div>
            </div>
            <div class="bot webPay" id="unionpay" style="">
                <img class="fl" src="/assets/images/UnionPay.png">
                <!-- <p class="fl">银联支付</p> -->
                <div style=" margin-top:30px;" id="pay3" payType="5" desc="银联支付" class="btn-sel1 fr">
                    <div class="btn-sel1-ba">
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <div class="ok-fry" id="ok-fry">确定支付</div>
    <div id="submitFormDiv"></div>
</div>
</section>
<div class="mask1 mui-hidden"></div>
<div class="confirm2 confirm-bot mui-hidden">
    <div class="title text-center bortom">
        请输入支付密码
        <span class="iconfont icon-cha" id="close-pay"></span>
    </div>
    <div class="cont">
        <div class="mui-content-padded">
            <div style="margin: 0 20px;" class="mui-input-row wj-moneypay">
                <input class="lqinput" style="    box-shadow: 0 0 0px 1000px #fff inset!important;" type="password" id="balance-pswd" maxlength="6" class="mui-input-password"  placeholder="">
                <p><span></span><span></span><span></span><span></span><span></span></p>
            </div>
        </div>
        <div id="error-tip" class="text-center"></div>
    </div>
</div>

</body>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/jweixin-1.0.0.js"></script>
<script src="/assets/js/config.js"></script>
<script src="/assets/js/common.js"></script>
<script src="js/confirm-pay.js"></script>
</html>
